# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum

# Spring Boot
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
.DS_Store

# Docker
*.log

# Grafana
grafana/data/

# Prometheus
prometheus/data/

